body{
	background-color: #10324D;
	line-height: 24px;
	font-size: 14px;
	color: #000000;
	text-transform: capitalize;
	font-family: 'Open Sans', sans-serif;
}
img{
	max-width: 100%;
}
a:hover{
	text-decoration: none;
	outline: 0;
	border: 0;
}
.secound-colom-inner a{
	color: #fff;
}
.secound-colom-inner a .fa{
	margin: 0 5px;
	vertical-align: middle;
}
/**/
section.colom-layout {
    width: 96%;
    margin: auto;
    padding: 66px 0px;
}	
h2.title {
    margin: 0;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-family: 'Titillium Web', sans-serif;
}
h6.sub_title {
    color: #BABEC7;
        font-weight: 400;
    margin: 20px 0 37px;
    text-align: center;
}
.colom-layout-inner{
	display: flex;
	flex-wrap: nowrap;
	box-sizing: border-box;
	box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    
}

.first-colom{
    flex-direction: column;
flex: 1;
background-color: #F6F6F6;
}
.third-colom {    width: 300px;
   	flex: 1;
    align-self: center;
   
    position: relative;
}
.secound-colom{
	background-color: #63B4C9;
    width: 300px;
flex: 3;
display: flex;
position: relative;
}
.nav-tabs {
    border: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
        margin-left: 15px;
    margin-right: 15px;
}
.nav-tabs .nav-link{
	border:0;
	padding: 0;
	position: relative;
	border-radius: 3px;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover{
    box-shadow: 0 2px 5px 0px rgb(0,0,0,0.2);
}
.nav-tabs .nav-link:before {
    position: absolute;
    content: "";
    border-bottom: 10px solid transparent;
    border-right: 10px solid #63b4c9;
    border-top: 10px solid transparent;
    margin: auto;
    right: -15px;
    top: 40%;
    opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
}
.nav-tabs .nav-link.active:before {
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	-o-opacity: 1;
}
 .nav-item .section-image{
	width: 80px;
	height: 72px;
	background-image: url(../img/learning.svg);
	background-repeat: no-repeat;
	background-size: 45px;
	background-position: center;
	    display: inline-block;
    vertical-align: middle;
}
 .technology .nav-item .section-image,
 .nav-item:nth-child(2) .section-image{
	background-image: url(../img/technology.svg);
}
.technology .nav-item .section-image,
.nav-item:nth-child(3) .section-image{
	background-image: url(../img/communication.svg);
}
.sec-title{
	display: inline-block;
	vertical-align: middle;
	font-weight: 600;
    font-size: 18px;
    color: #2e3439;
}
.nav-tabs .nav-item{
	margin-bottom: 30px;
	width: 100%;
	background-color: #fff;
	border-radius: 5px;
}
.nav-tabs .nav-item:last-child{
	margin-bottom:0; 
}
.slick-slider .slick-track, .slick-slider .slick-list{
	padding: 0 !important;
}
.om{
    display: flex;
    flex-direction: column;
}
.slider {
    margin: 30px 50px 50px;
}
.sl_inner{
	width: 300px;
	flex: 1;
	margin: auto 0;
	text-align: center;
	position: relative;
}
.si_title {
    color: #fff;
    padding: 0px 10px;
    font-size: 12px;
    line-height: 20px;
    display: inline-block;
    background-color: #5598A8;
    border-radius: 3px;
    text-transform: uppercase;
}
.si_desc {
    color: #fff;
    font-size: 24px;
    width: 80%;
    line-height: 1.5;
    margin: 10px auto 30px;
    font-weight: 600;
    text-indent: -5px;
}
.slide_img{
	display: none;
}
.slide_img.active{
	display: block;
}
.spinner{

}
/**/
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 12px;
    height: 12px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background-color: transparent;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border:2px solid #A2D2DE;
}
.slick-dots li.active button {
	background-color: #A2D2DE;
}
.slick-dots {
    position: absolute;
    bottom: -85px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 3px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
    outline: none;
}
.slick-dots li button:before {
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    opacity: 1;
}
@media (min-width: 1200px){
	section.colom-layout{
		width: 1170px;
	}
}
@media (max-width: 1200px){

		.slick-dots{
			bottom: -35px;
		}
}
@media (max-width: 620px){
		.slick-dots{
			bottom: -25px;
		}
}
@media screen and (max-width: 1200px) and (min-width: 992px){
		.sec-title{
			font-size: 14px;
		}
		.nav-item .section-image{
			width: 55px;
			height: 55px;
			background-size: 35px;
		}
}
@media screen and (max-width: 991px) and (min-width: 730px){
	.nav-item .section-image{
			width: 45px;
			height: 45px;
			background-size: 30px;
		}
		.sec-title{
			font-size: 13px;
		}
		.nav-tabs .nav-item{
			margin-bottom: 20px;
		}
		.si_desc{
			font-size: 16px;
			margin: 10px auto 10px;
		}
}
@media screen and (max-width: 730px) and (min-width: 545px){
	.nav-item .section-image{
			width: 30px;
			height: 30px;
			background-size: 20px;
		}
		.si_title{
			font-size: 10px;
		}
		.sec-title{
			font-size: 10px;
		}
		.nav-tabs{
			margin-right: 5px;
			margin-left: 5px;
		}
		.nav-tabs .nav-item{
			margin-bottom: 15px;
		}
		.si_desc{
			font-size: 12px;
			margin: 10px auto 10px;
		}
		.secound-colom-inner a{
			font-size: 12px;
		}
		.slick-dots li{
			margin: 0 3px;
		}
		.slick-dots li button{
			width: 7px;
			height: 7px;
		}
}
@media (min-width: 545px){

	.hidden-md-up{
		display: none;
	}
	.collapse{
		display: inherit;
	}
	.slider-for .slide_img{
		display: none;
	}
}
@media (max-width: 544px){
	.secound-colom-inner {
    background-color: rgb(90,180,201,0.9);
    padding: 55px 0;
    position: relative;
	}
	.nav-item::before{
position: absolute;
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    bottom: -25px;
    border-bottom: 10px solid #63b4c9;
    margin: 0 auto;
    text-align: center;
    width: 15px;
    left: 0;
    right: 0;
    opacity: 0;
	}
/*.tab-content>.tab-pane {
    display: inherit;}
	.collapse.show {
    display: block;
}
*/
.collapse {
    display: none;
}

	.om{
		display: block;	
	}
	.first-colom{
		display: none;
	}
	.secound-colom{
		display: block;
		width: 100%;
		background-color: transparent;
	}
	.third-colom,.sl_inner	{
		width: 100%;
	}
	.sl_inner{
		position: relative;
		z-index: 9;
	}
	.third-colom{
		display: none;
		position: absolute;z-index: 0;
		top: 0;
		opacity: 0.3;
	}
	.slide_img{
	display: block;
    position: absolute;
    bottom: 0;
    z-index: -1;
	}
	.hidden-md-up{
		display: none;
	}
	.hidden-md-up{
		display: block;
	}
	.colom-layout-inner{
		display: block;
	}
	.nav-tabs{
		margin:0;
	}
	.first-colom{
		background-color: transparent;
	}
	span.float-xs-right {
        display: flex;
    justify-content: flex-end;
    flex: 1;
	}
	.nav-item {
    margin-bottom: 25px;
    position: relative;
	}
	.nav-item:last-child {
		margin-bottom: 0;
	}
	.nav-item .collapse-icons .add,
	.nav-item .collapse-icons .remove{
			width: 20px;
	height: 20px;
	background-image: url(../img/add.svg);
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: center;
	    display: inline-block;
    vertical-align: middle;
	}
	.nav-item[aria-expanded="true"] .collapse-icons .remove{
		display: none;
		background-image: url(../img/remove.svg);
	}
	.nav-item[aria-expanded="true"] .collapse-icons .add{
		display: none;
	}
	.nav-item[aria-expanded="false"] .collapse-icons .remove{
		display: none;
	}
	.nav-item[aria-expanded="true"] .collapse-icons .remove{
		display: block;
	}
	.nav-item[aria-expanded="true"]::before{
		opacity: 1;
	} 
	.slick-dots{
		display: none;
	}
	.nav-link {
    padding:0;
    background-color: #fff;
    text-align: left;
    display: flex;
    align-items: center;
    border-radius: 3px;
	}
	.tab-pane {
		position: relative;
		overflow: hidden;
		margin: 20px 0 15px;
	}
}
